.body {
  margin: 0;
}
.header-container {
  background-color: #3498db;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}
.header-container h1 {
  margin: 10px;
}

.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.main-card {
  width: 500px;
  margin-top: 30px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: #365486;
}
.inputFeild {
  border-radius: 20px;
  margin: 4px;
  height: 35px;
  width: 40%;
  padding: 10px;
}
.main-weather {
  margin: 10px;
  /* background-color:#e0e0e0 ; */
  padding: 10px;
  justify-content: center;
  display: flex;
}
.search-bar {
  display: flex;

  justify-content: center;
}

.cloud {
  height: 150px;
}
.temp {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.city-name {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  font-weight: 400;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.toggle {
  display: flex;
  justify-content: center;
}
.humidity {
  height: 30px;
}
.wind {
  height: 30px;
}
.wind-humid {
  margin-top: 50px;
  display: flex;
  color: white;
  justify-content: center;
}
.humid-elements {
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.error-container {
  margin-top: 300px;
  margin-left: 50%;
}
.btn {
  margin: 10px;
  padding: 10px;
}
.error-place {
  margin: 10px;
  padding: 10px;
}
.city-weather {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: 400;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.date-data {
  margin: 10px;
  width: 100px;
  height: 90px;
  background-color: #365486;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 400;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
}
.card-container {
  margin-top: 30px;
}
